* {
	/*border: 1px solid red;*/
}

.resume_info {
	height: 100%;
	border-left: 2px solid lightgrey;
	padding-left: 60px;
	font-size: 13px;
	padding-bottom: 30px;
	margin-right: 20px;
}

.resume_out {
	padding-left: 25px;
}

.resume_space {
	height: 5vh;
	border-left: 2px solid lightgrey;
	padding-left: 60px;
	margin-top: 60px;
}

.resume_icon {
	text-align: center;
	vertical-align: center;
	line-height: 50px;
	width: 50px;
	height: 50px;
	background-color: darkturquoise;
	border-radius: 50%;
	display: inline-block;
}

.resume_icon i {
	margin: 0;
	padding: 0;
}

.resume_item {
	height: 50px;
	display: inline-block;
	width: 100%;
	float: left;
}

.resume_item span {
	margin-left: 38px;
	font-size: 20px;
	text-transform: uppercase;
}

.resume_title {
	list-style-type: none;
	font-size: 14px;
	font-weight: bold;
	text-indent: -6.25em;
	padding-left: 6.25em;
	margin-right: 10px;
}

.resume_title::before {
	font-size: 80px;
	content: '.';

	vertical-align: middle;
	line-height: 0px;
	color: darkturquoise;
	margin-right: 50px;
	padding-left: 15px;
	vertical-align: -50%;
}
